<head>
  <title>九州工業大学　授業別メッセージボード</title>
  <link rel="icon" type="image/gif"
    href="https://cache1.jimu.kyutech.ac.jp/archives/001/201602/19ad386ab0b32d0c82bc9ef3daf7f1e0.gif">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <a href="" class="header">
    <img src="https://cache1.jimu.kyutech.ac.jp/archives/001/201602/19ad386ab0b32d0c82bc9ef3daf7f1e0.gif"
      alt="kyutech_icon" height="70" width="70">
    <h1>　九州工業大学　授業別メッセージボード　2023年度版</h1>
  </a>
  <p style="margin-top: 120px;">
    メッセージボードへようこそ！コミュニティに参加していきましょう
  </p>
  <div style=" background-color: rgb(145, 210, 210); border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;">
    <div class=" accordion" id="js-accordion" style="margin-left:100px">
      <div class="display">
        <main>
          <h2>工学部</h2>
          <h3>1年</h3>
          <p class="accordion-trigger">
            工学1類
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            工学2類
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            工学3類
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            工学4類
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            工学5類
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <h3>2年</h3>
          <p class="accordion-trigger">
            建築社会工学科
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            機械知能工学科
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            宇宙システム工学科
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            電気電子工学科
          </p>
          <div class="accordion-contents">
            <li><a href="electri_boards/">電気回路I</a></li>
            <li><a href="electron_boards/">電子回路I</a></li>
            <li><a href="electrom_boards/">電磁気学I</a></li>
          </div>
          <p class="accordion-trigger">
            応用化学科
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            マテリアル工学科
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <h3>3年</h3>
          <p class="accordion-trigger">
            建築社会工学科
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            機械知能工学科
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            宇宙システム工学科
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            電気電子工学科
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            応用化学科
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            マテリアル工学科
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <h3>4年</h3>
          <p class="accordion-trigger">
            建築社会工学科
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            機械知能工学科
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            宇宙システム工学科
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            電気電子工学科
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            応用化学科
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
          <p class="accordion-trigger">
            マテリアル工学科
          </p>
          <div class="accordion-contents">
            解析学I
          </div>
        </main>
        <aside>
          <img
            src="https://th.bing.com/th/id/R.770b489b9d92e18929c7d67328a36c57?rik=bh1b7pvXg40uHA&riu=http%3a%2f%2fcache1.jimu.kyutech.ac.jp%2farchives%2f034%2f201609%2fca59470c082098e0c81371aad84eb18d.jpg&ehk=L7S4WCTh%2feyrpa6Ft%2bf1oejiQUYRQgn1nWTGg3XfAgY%3d&risl=&pid=ImgRaw&r=0"
            alt="tobata" width="500px" height="250px" class="sticky">
        </aside>
      </div>
      <div class="display">
        <main>
          <h2>情報工学部</h2>
          <h3>1年</h3>
          <p class="accordion-trigger">
            情工1類
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
          <p class="accordion-trigger">
            情工2類
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
          <p class="accordion-trigger">
            情工3類
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
          <h3>2年</h3>
          <p class="accordion-trigger">
            知能情報工学科
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
          <p class="accordion-trigger">
            情報・通信工学科
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
          <p class="accordion-trigger">
            知的システム工学科
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
          <p class="accordion-trigger">
            物理情報工学科
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
          <p class="accordion-trigger">
            生命化学情報工学科
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
          <h3>3年</h3>
          <p class="accordion-trigger">
            知能情報工学科
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
          <p class="accordion-trigger">
            情報・通信工学科
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
          <p class="accordion-trigger">
            知的システム工学科
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
          <p class="accordion-trigger">
            物理情報工学科
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
          <p class="accordion-trigger">
            生命化学情報工学科
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
          <h3>4年</h3>
          <p class="accordion-trigger">
            知能情報工学科
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
          <p class="accordion-trigger">
            情報・通信工学科
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
          <p class="accordion-trigger">
            知的システム工学科
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
          <p class="accordion-trigger">
            物理情報工学科
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
          <p class="accordion-trigger">
            生命化学情報工学科
          </p>
          <div class="accordion-contents">
            線形代数I
          </div>
        </main>
        <aside>
          <img src="https://www.iizuka.kyutech.ac.jp/kit/wp-content/uploads/2018/03/outline.jpg" alt="iizuka"
            width="500px" height="250px" class="sticky">
        </aside>
      </div>
    </div>
  </div>
</body>
<script src="/javascripts/script.js"></script>

</html>
