<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <ul>
    <li><a href="electri_boards/">電気回路</a></li>
    <li><a href="electron_boards/">電子回路</a></li>
    <li><a href="electrom_boards/">電磁気学</a></li>
</body>

</html>